anyio
certifi
fastapi
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-genai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
idna
json-repair
multidict
orjson
packaging
pdfminer.six
pdfplumber
pillow
proto-plus
protobuf
pydantic
pydantic-settings
pydantic_core
pypdf
pypdfium2
python-dotenv
python-multipart
requests
sniffio
starlette
swagger-ui-bundle
tenacity
typing_extensions
urllib3
uvicorn